<!-- Fichero de Configuracion inicial de la aplicacion -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Prueba Grability</title>
    <!-- Librerias a utilizar-->
    <script src="lib/angular-js/angular.min.js" type="text/javascript"></script>
  </head>
  <body ng-app ng-init=" autor = 'Aric Gutierrez'">
    {{autor}}
  </body>
</html>
